
#calendar {
    float:right;
}

#calendar .day {
    display: inline-block;
    font-size: 11px;
    padding: 2px 4px;
    margin: 0px;
    border-radius: 13px;
    text-align: center;
    background-color: #333333;
}

#calendar .day.weekend {
    background-color: #0066ff !important;
}
